
.flashBox グループを作成しました。
.contents
  = render 'shared/side_bar'
  .contents-main
    .header
      .currentGroup
        .currentGroup__name test_group
        %ul.memberList 
          %li.memberList__member Member:tomo
      .edit-btn 
        =link_to  "https://www.sample.com/", class: "btn" do
          Edit
    .messages
      = render  @messages
     
    .form
      = form_for [@group,@message] do |f|
        =f.text_field :content, class: "form__message", placeholder: "type a message"
        .form__mask
          = f.label :image,class: 'form__mask__image' do
            = fa_icon "picture-o",class: "icon"
            = f.file_field :image,class: "hidden"
        =f.submit "send",class:  "form__submit"